# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Logs and Airflow metadata
logs/
*.log
*.pid
*.err
*.out
*.db
docker/airflow/logs/

# System files
.DS_Store
desktop.ini

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
*.parquet
*.pkl

# VSCode or IDE
.vscode/
.idea/
